.inline-block{
    display: inline-block;
    vertical-align: top;
}
div.logo{
    width: 23%;
    padding: 1%;
    text-align: center;
}
nav{
    width: 90%;
    padding: 1%;
    text-align: right;
}
ul{
    width: 50%;
    margin-left: auto;
}
section.heroImg{
    padding: 25px;
}
.content{
    width: 500px;
    margin: 0 auto;
}
p{
    text-indent: 5%;
    width: 1fr;
    text-align: center;
}
button{
    margin: 0 auto;
    display: block
}
button {
    padding: 15px;
    background-color: #373738;
    color: white;
    font-size: 15px;
    border-radius: 4px;
  }
/* Footer */
footer{
    background-color: #373738;
    vertical-align: bottom;
    padding: auto;
}
footer ul{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color:#FFFFFF;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
/* My UX Skills Section */
.flexContainer {
    display: flex;
    padding: 1fr;
    width: 100%;
  }
  .flex-item {
    flex: 1fr;
    padding: auto;
    margin: 5px;
    text-align: center;
  }
/* My Work Section */
.myWork {
    padding: 60px 30px;
    padding-top: 0;
    background-color: #EBEBEB;
  }
  .workGrid {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr; 
    gap: 10px;
    grid-template-areas:
    "img1 content1"
    "img2 content2"
    "img3 content3"
    ;
  }
  .workGrid img {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: block;
  }

.grid-item {
    background-color: lightgray; 
    border: 1px solid gray; 
    padding: 20px; 
    text-align: center; 
}
  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }