.inline-block{
    display: inline-block;
    vertical-align: top;
}
div.logo{
    width: 23%;
    padding: 1%;
    text-align: center;
}
nav{
    width: 73%;
    padding: 1%;
}
ul{
    width: 50%;
    margin-left: auto;
}
section.heroImg{
    padding: 25px;
}
.content{
    width: 500px;
    margin: 0 auto;
}
p{
    text-indent: 5%;
}
button{
    margin: 0 auto;
    display: block
}
button {
    padding: 15px;
    background-color: #373738;
    color: white;
    font-size: 15px;
    border-radius: 4px;
  }
/* Footer */
footer{
    background-color: #373738;
    vertical-align: bottom;
    padding: auto;
}
footer ul{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color:#FFFFFF;
}
/* My UX Skills Section */
.flexContainer {
    display: flex;
    padding: 60px 30px;
    flex-direction: row;
  }
  .flexContainer div {
    width: 33%;
    padding: 25px;
  }
  .flex-item {
    flex: 33%;
    padding: 10px;
    margin: 5px;
  }
/* My Work Section */
.myWork {
    padding: 60px 30px;
    padding-top: 0;
    background-color: #EBEBEB;
  }
  .workGrid {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr; 
    gap: 10px;
    grid-template-areas:
    "img1 content1"
    "img2 content2"
    "img3 content3"
    ;
  }
  .workGrid img {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: block;
  }

.grid-item {
    background-color: lightgray; /* Optional: for better visualization */
    border: 1px solid gray; /* Optional: to visualize items */
    padding: 20px; /* Optional: add padding inside grid items */
    text-align: center; /* Optional: center text inside items */
}
  @media only screen and (max-width: 600px) {
    body {
      background-color: #FDF6E7;
      width: ;
      padding: ;
    }
  }