.inline-block{
    display: inline-block;
    vertical-align: top;
}
div.logo{
    width: 23%;
    padding: 1%;
    text-align: center;
}
nav{
    width: 73%;
    padding: 1%;
}
ul{
    width: 50%;
    margin-left: auto;
}
section.heroImg{
    padding: 25px;
}
.content{
    width: 500px;
    margin: 0 auto;
}
footer{
    background-color: #373738;
    vertical-align: bottom;
    padding: auto;
}
footer ul{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color:#FFFFFF;
}
p{
    text-indent: 5%;
}
button{
    margin: 0 auto;
    display: block
}
